@model GestAgape.Core.ViewModels.ForgotPasswordVM

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = null;

}
<link href="~/css/login.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<body class="h-100 ">
    <div class="container  h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-12">
                <div class="row g-0">
                    <div class="col-lg-6">
                        <div class="card-body p-md-5 mx-md-4">
                            <img src="~/img/icons/Agape.png" class="mb-5" style="width: 185px;" alt="logo">
                            <label><h1 class="mb-4">Entrez votre adresse e-mail pour recevoir un lien de validation</h1></label>
                            @if (TempData["successMessage"] != null)
                            {
                                <div class="alert alert-success alert-dismissible">
                                    <h5><i class="icon fas fa-check"></i> Success!</h5>
                                    @TempData["successMessage"]
                                </div>
                            }
                            @if (TempData["errorMessage"] != null)
                            {
                                <div class="alert alert-danger alert-dismissible">
                                    <h5><i class="icon fas fa-ban"></i> Error !</h5>
                                    @TempData["errorMessage"]
                                </div>
                            }
                            @if (TempData["warningMessage"] != null)
                            {
                                <div class="alert alert-warning alert-dismissible">
                                    <h5><i class="icon fas fa-exclamation-triangle"></i> Warning !</h5>
                                    @TempData["warningMessage"]
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-6 align-items-center " style="background-color: #eee;border-radius:30px;">
                        <div class=" text-black m-5">
                            <div class="m-5">
                                <form asp-action="ForgotPassword" id="form_login">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <p></h3></p>

                                    <div class="form-outline mb-4">
                                        <label class="control-label"></label>
                                        <input asp-for="Email" type="email" id="#" class="form-control"
                                               placeholder="Entrez l'E-mail" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        @*<button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Valider</button>*@
                                        <input class="btn2 btn2--large btn2--full-width margin-t-20 mb-3" type="submit" value="Valider" tabindex="3" />
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
