@using GestAgape.Core.Entities.Admission;
@model IEnumerable<GestAgape.Core.Entities.Admission.DemandeAdmission>

@{
    ViewData["Module"] = "Admission";
    ViewData["Title"] = "Liste des demandes d'admission";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

    <div class="x_content">
        <div class="row">
            <div class="col-sm-12">
                <partial name="_PartialDemandeAdmission" model="@Model" />
                
            </div>
        </div>
    </div>
