@{
    ViewData["Title"] = "Accès non autorisé";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Module"] = "Paramétrage";

}

<h1 class="text-danger">Accès refusé</h1>
<h3>Vous n'êtes pas autorisé à consulter cette page. </h3>